---
title: Installation
---

<% content_for :description do %>
  <div class="space-y-6">
    <div class="space-y-4">
      <p>Installation is super straightforward.</p>

      <p>Add the gem to the <%= code('development') %> group in your <%= code('Gemfile') %>,</p>

      <pre class="bg-zinc-900/25 border border-dashed border-surface rounded-lg flex shadow-lg p-6">
        <code>group :development do <br />  gem 'lycan_ui', github: "MSILycanthropy/lycan_ui"<br />end</code>
      </pre>

      <p class="mt-4">Run <%= code('bundle install') %> and then setup with,</p>

      <pre class="bg-zinc-900/25 border border-dashed border-surface rounded-lg flex shadow-lg p-6">
        <code>rails generate lycan_ui:setup</code>
      </pre>

      <p class="mt-4">Follow the prompts in your terminal and then.. you're done!</p>
    </div>
  </div>
<% end %>

<%= render 'partials/doc' %>
