<% args = local_assigns.delete(:args)%>
<% active = current_page?(*args) if local_assigns[:active].nil? %>

<li class="inline-flex items-center gap-1.5">
  <% if active %>
    <%= tag.div **local_assigns.except(:class, :active) do %>
      <%= yield %>
    <% end %>
  <% else %>
    <%= link_to *args,
                class: class_names("transition-colors underline-offset-4 hover:underline decoration-accent", local_assigns[:class]),
                **local_assigns.except(:class, :active) do %>
      <%= yield %>
    <% end %>
  <% end %>
</li>
