---
title: Accordion
component: accordion
---

<% content_for :description do %>
  It's an accordion.

  <div class="pt-6">
    <%= render 'partials/example', path: 'examples/helper/accordion' %>
  </div>
<% end %>

<%= render 'partials/doc', title: 'Accordion' %>
