---
title: Collapsible
component: collapsible
---
<% content_for :description do %>
  <p>
    An interactive component which expands/collapses a panel.
  </p>

  <div class="pt-6">
    <%= render 'partials/example', wrapper_classes: 'flex justify-center' %>
  </div>
<% end %>

<%= render 'partials/doc' %>
