---
title: Input
component: dropdown
---
<% content_for :description do %>
  <p>
    An input field compatible with all the Rails

    <%= external_link_to 'https://api.rubyonrails.org/v7.1.1/classes/ActionView/Helpers/Tags.html' do %>
      <%= code('field') %> helpers
    <% end %>.
  </p>

  <div class="pt-6">
    <%= render 'partials/example', wrapper_classes: 'flex justify-center' %>
  </div>
<% end %>

<%= render 'partials/doc' %>
