---
title: Dropdown
component: dropdown
---
<% content_for :description do %>
  <p>
    Displays a menu to the user, which contains links or actions.
  </p>

  <div class="pt-6">
    <%= render 'partials/example', wrapper_classes: 'flex justify-center' %>
  </div>
<% end %>

<%= render 'partials/doc' %>
