---
title: Popover
component: popover
---
<% content_for :description do %>
  <p>
    Displays rich content, triggered by a button.
  </p>

  <div class="pt-6">
    <%= render 'partials/example', wrapper_classes: 'flex justify-center' %>
  </div>
<% end %>

<%= render 'partials/doc' %>
