---
title: Radio
component: radio
---

<% content_for :description do %>
  <p>
    A control element that allows a user to choose only one of a predefined set of mutually exclusive options.
  </p>

  <div class="pt-4">
    <%= render 'partials/example', wrapper_classes: 'flex justify-center' %>
  </div>
<% end %>

<% content_for :usage do %>
  <div class="space-y-3">
    <div>
      <h4 id="forms" class="text-lg scroll-m-20 pb-2">
        Usage in forms
      </h4>

      <p class="text-sm">
        To use directly with Rails forms, please see

        <%= link_to '/forms', class: 'underline underline-offset-4 decoration-accent hover:decoration-2' do %>
          Installing form helpers
        <% end %>
      </p>

      <%= render 'partials/example', path: "radio/form", one: true,  wrapper_classes: 'flex justify-center' %>
    </div>
  </div>
<% end %>

<% content_for :usage_links do %>
  <li>
    <a class="text-sm underline-offset-4 hover:underline decoration-accent transition-all" href="#form">Usage in forms</a>
  </li>
<% end %>

<%= render 'partials/doc' %>
