---
title: Tabs
component: tabs
---
<% content_for :description do %>
  <p>
    A set of layered sections of content—known as tab panels—that are displayed one at a time.
  </p>

  <div class="pt-6">
    <%= render 'partials/example', wrapper_classes: 'flex justify-center' %>
  </div>
<% end %>

<%= render 'partials/doc' %>
