<% fallback = capture { yield } if block_given? %>

<% if fallback.present? %>
  <%= tag.div(class: class_names("relative flex items-center justify-center h-10 w-10 shrink-0 overflow-hidden rounded-full bg-gray-300", classes),
              data: data_attributes({ data: { controller: :avatar } }, **kwargs), 
              **kwargs) do %>
    <div class="text-black font-medium" data-avatar-target="initials">
      <%= fallback %>
    </div>
    
    <%= image_tag *args, class: 'absolute w-full h-full object-cover', data: { action: "error->avatar#showInitials load->avatar#hideInitials", avatar_target: :image } %>
  <% end %>
<% else %>
  <%= image_tag *args, class: class_names('rounded-full h-10 w-10 object-cover', classes), **kwargs %>
<% end %>