<% fallback = local_assigns.delete(:fallback) %>

<% if fallback.present? %>
  <%= tag.div(class: class_names("relative flex items-center justify-center h-10 w-10 shrink-0 overflow-hidden rounded-full bg-gray-300", local_assigns[:class]),
              data: data_attributes({ data: { controller: :avatar } }, **local_assigns),
              **local_assigns.except(:args, :class)) do %>
    <div class="text-black font-medium" data-avatar-target="initials">
      <%= fallback %>
    </div>

    <%= image_tag *local_assigns.delete(:args), class: 'absolute w-full h-full object-cover shadow-lg', data: { action: "error->avatar#showInitials load->avatar#hideFallback", avatar_target: :image } %>
  <% end %>
<% else %>
  <%= image_tag *local_assigns.delete(:args), class: class_names('rounded-full h-10 w-10 object-cover shadow-lg', local_assigns[:class]), **local_assigns.except(:class) %>
<% end %>
