<div class="flex flex-col gap-1">
  <%= render 'ui/label', args: [:object, :field, 'Why do you love Rails?'] %>
  <%= render 'ui/textarea', args: [:object, :field], placeholder: 'Type here' %>
</div>
