<div data-controller="example" data-action="helper-change@document->example#showErb">
  <label class="flex items-center justify-end gap-2 mb-2 cursor-pointer">
    <div>View Code</div>
    <%= ui.switch nil, nil, data: { action: 'example#toggle', example_target: :toggle } %>
  </label>

  <div class="rounded-lg border highlight overflow-auto" role="tabpanel">
    <div class="h-96 flex justify-center items-center hidden:hidden" data-example-target="preview">
      <div class="max-w-96 w-full">
        <%= render "examples/helper/#{current_page.data['component']}" %>
      </div>
    </div>

    <pre class="flex items-center justify-center hidden:hidden pb-2 px-2 mt-[-1em]" data-example-target="helper" hidden>
      <code>
        <%= read_erb("examples/helper/#{current_page.data['component']}") %>
      </code>
    </pre>

    <pre class="flex items-center justify-center hidden:hidden pb-2 px-2 mt-[-1em]" data-example-target="normal" hidden>
      <code>
        <%= read_erb("examples/no_helper/#{current_page.data['component']}") %>
      </code>
    </pre>
  </div>
</div>
