<div class="space-y-2">
  <h4 class="font-medium">
    Getting Started
  </h4>

  <%= link_to 'Introduction', '/', class: "w-full block underline-offset-4 hover:underline decoration-accent #{'underline' if current_page?('/') }" %>

  <% ['installation', 'forms'].each do |path| %>
    <%= link_to path.titleize, "/#{path}", class: "w-full block underline-offset-4 hover:underline decoration-accent #{'underline' if current_page?("/#{path}") }" %>
  <% end %>

</div>

<div class="space-y-2">
  <h4 class="font-medium">
    Components
  </h4>

  <% children = site.dig('docs').children %>
  <% children.insert(5, "calendar") %>
  <% children.insert(7, "date field") %>
  <% children.push("toaster") %>
  <% children.each do |node| %>
    <% if node.is_a?(String) %>
      <div class="opacity-65 hover:cursor-not-allowed">
        <span><%= node.titleize %></span>
        <span>-</span>
        <span class="text-xs">
          Soon
          <sup>TM</sup>
        </span>
      </div>
    <% else %>
      <% page = node.resources.format(:html) %>
      <%= link_to node.name.titleize, page.request_path, class: "w-full block underline-offset-4 hover:underline decoration-accent #{'underline' if current_page?(page.request_path) }" %>
    <% end %>
  <% end %>
</div>

