<div class="flex flex-col gap-1">
  <%= render 'ui/label', args: [:datetime, :field, 'Datetime'] %>
  <%= render 'ui/input', args: [:datetime, :field], type: :datetime, placeholder: 'Type here'  %>
</div>
