<div class="flex flex-col gap-1">
  <%= render 'ui/label', args: [:phone, :field, 'Phone Number'] %>
  <%= render 'ui/input', args: [:phone, :field], type: :phone, placeholder: 'Type here'  %>
</div>
