<% default_classes = "overflow-hidden text-sm transition-all [&[opened='true']]:animate-accordion-down [&[opened='false']]:animate-accordion-up"%>

<%= tag.div(hidden: true, 
            class: class_names(default_classes, classes),
            role: :region, 
            aria: aria_attributes({ aria: { labelledby: trigger_id } }, kwargs), 
            opened: false,
            data: data_attributes({ data: { ui__accordion__item_target: :content } }, kwargs),
            **kwargs) do %>
  <div class="pb-4">
    <%= yield %>
  </div>
<% end %>