<% default_classes = "h-auto interpolate-keywords overflow-hidden text-sm motion-safe:transition-all p" \
                     "duration-200 ease-out hidden:invisible hidden:block hidden:h-0" %>

<%= tag.div(hidden: !local_assigns[:open], 
            class: class_names(default_classes, classes),
            role: :region, 
            aria: aria_attributes({ aria: { labelledby: trigger_id } }, kwargs), 
            data: data_attributes({ data: { ui__accordion__item_target: :content } }, kwargs),
            **kwargs) do %>
  <div class="pb-4">
    <%= yield %>
  </div>
<% end %>