<%= tag.div(class: classes, **kwargs) do %>
  <h3>
    <button type="button"
            class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline"
            aria-expanded="false"
            aria-controls="<%= content_id %>"
            data-ui--accordion--item-target="trigger"
            data-action="ui--accordion--item#toggle"
            id="<%= trigger_id %>">
      <%= yield %>
    </button>
  </h3>
<% end %>
